body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
  }
  
  .form-gm {
    max-width: 800px;
    padding: 15px;
    margin: 0 auto;
  }

  .form-gm .form-gm-heading,
  .form-gm .checkbox {
    margin-bottom: 10px;
  }
  .form-gm .checkbox {
    font-weight: normal;
  }
  .form-gm .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
  }
  .form-gm .form-control:focus {
    z-index: 2;
  }
  .form-gm input[type="command"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  